[submodule "agents/iso-ready"]
	path = agents/iso-ready
	url = https://github.com/CMBurnett/iso-ready.git
[submodule "agents/order-processing"]
	path = agents/order-processing
	url = https://github.com/CMBurnett/order-processing.git
[submodule "agents/reporting"]
	path = agents/reporting
	url = https://github.com/CMBurnett/reporting.git
[submodule "agents/crm"]
	path = agents/crm
	url = https://github.com/CMBurnett/crm.git
